body {
    background-color: #f7f7f7 !important;
}

.lead-page {
    margin: 100px auto 50px;
}

.lead-page .list-group .active {
    background-color: #044694 !important;
}

.lead-page .list-group .list-group-item:hover {
    color: #F4CB0A !important;
    background-color: #044694;
}

.img-info {
    background-color: #044694 !important;
    color: #fff !important;
}

.img-info a {
    color: #fff;
}

.lead-wrapper .img-holder img {
    background-color: #f7f7f7 !important;
    transition: transform 0.2s;
}

.lead-wrapper .img-holder img:hover {
    transform: scale3d(0.97, 0.97, 0.97);
}