.news-pages {
    margin: 100px auto 50px auto;
}

body {
    background-color: #f7f7f7 !important;
}

.news-card .card {
    border-top: 3px solid #000;
    transition: all 0.3s linear;
}

.news-card .card a {
    color: #000 !important;
}

.news-card .card:hover {
    border-top: 3px solid var(--darkBlue);
}

.news-card .card:hover a {
    color: var(--darkBlue) !important;
}

.news-card a img {
    display: block;
    width: 100%;
    transition: transform 0.2s;
}

.news-card a img:hover {
    transform: scale(1.1);
}